<!-- Footer -->
</div>
</body>

<footer class="footer mt-auto py-3 text-white" id="footer">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-3 font-weight-bold text-warning">
          Dynamic Career Pathway Explorer
        </h5>
        <p>Ready to make <strong class="text-warning">your</strong> move?</p>
        <a href="/user/signup"
          ><button type="button" class="btn btn-outline-warning">
            Sign Up
          </button></a
        >
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" id="socials">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          Social Media
        </h5>
        <h4>
          <a href="https://www.facebook.com" aria-label="Facebook"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          &nbsp;&nbsp;
          <a href="https://www.linkedin.com" aria-label="LinkedIn"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          &nbsp;&nbsp;
          <a href="https://www.instagram.com" aria-label="Instagram"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </h4>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          Contact
        </h5>
        <p>
          <i class="fas fa-home mr-3"></i>
          Charlotte, NC
        </p>
        <p><i class="fas fa-envelope mr-3"></i> dcpe_28@gmailcom</p>
        <p>
          <i class="fas fa-phone mr-3"></i>
          (704) 687-8622
        </p>
      </div>
    </div>
    <hr class="mb-4" />
    <div class="row align-items-center">
      <p>Copyright &copy;2023 <strong class="text-warning">DCPE</strong></p>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

</html>
